{
  "presets": [
    
      "@babel/preset-env",
    "@babel/preset-flow",
    "@babel/preset-react"
  ],
  "plugins": [
    ["transform-remove-console", { "exclude": [ "error", "warn"] }],  
    "add-module-exports"
  ]
}
